@import '../../../theming/config.scss';

.label {
    display: inline-block;
    padding: 0;
    text-align: left;
    font-family: $font-family-primary;
    background-color: $color-white;
    user-select: none;

    &--grey {
        color: $color-grey;
    }

    &--black {
        color: $color-black;
    }

    &--blue {
        color: $color-blue;
    }

    &--tiny {
        font-size: $font-size-tiny;
    }

    &--small {
        font-size: $font-size-small;
    }

    &--medium {
        font-size: $font-size-medium;
    }

    &--large {
        font-size: $font-size-large;
    }

    &--highlighted {
      color: lighten($color-black, 20);
      background-color: darken($color-white, 20);
    }

}
