.select {
  display: flex;
  flex-direction: row;


  &__left {
    cursor: pointer;
  }

  &__center {
    line-height: 20px;
    text-align: center;

    &--week {
      width: 110px;
    }

    &--month {
      width: 100px;
    }

    &--year {
      width: 40px;
    }
  }

  &__right {
    cursor: pointer;
  }
}
