@import '../../theming/config';

.calendar-view {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  color: $color-grey;
  user-select: none;
  cursor: pointer;

  border-style: solid;
  border-color: $color-grey;
  border-width: thin;

  justify-content: space-between;
  padding-bottom: 20px;

  &__day {
    line-height: 30px;

    position: relative;
    width: 40px;
    height: 35px;

    text-align: center;
    padding-top: 5px;

    &-last-month {
      color: $color-grey;
      background-color: $color-white;
    }

    &-this-month {
      color: lighten($color-blue-grey, 5);
      background-color: $color-white;
    }

    &-today {
      color: $color-white;
      background-color: darken($color-blue, 5);
      border-radius: 5px;
    }

    &-next-month {
      color: $color-grey;
      background-color: $color-white;
    }
  }
}
