@import '../../../theming/config';

.calendar-view {
  border-style: solid;
  border-color: $color-grey;
  border-width: thin;
  width: 325px;

  &__label {
    margin: 10px 0 10px 20px;
  }

  &__month-year {
    display: flex;
    flex-direction: row;
    width: 280px;
    justify-content: space-between;
    text-transform:capitalize;
    margin-left: 20px;
  }

  &__day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    color: $color-grey;
    user-select: none;
    cursor: pointer;

    justify-content: space-between;
    padding: 0 10px 20px 10px;

    &-day {
      line-height: 30px;

      width: 40px;
      height: 35px;

      text-align: center;
      padding-top: 5px;

      &-last-month {
        color: $color-grey;
        background-color: $color-white;
      }

      &-this-month {
        color: lighten($color-blue-grey, 5);
        background-color: $color-white;
      }

      &-today {
        color: $color-white;
        background-color: darken($color-blue, 5);
        border-radius: 5px;
      }

      &-next-month {
        color: $color-grey;
        background-color: $color-white;
      }
    }
  }
}
